<style>
button {
  border: 1px solid black;
  border-radius: 2px;
  background-color: white;
}
.chart {
  width: 200px;
  height: 200px;
}
.selected {
  background-color: red;
  color: white;
}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js" type="text/javascript"></script>
<script src="https://cdn.firebase.com/js/client/2.2.6/firebase.js" type="text/javascript"></script>
<script src="js/poll.js" type="text/javascript"></script>
<%
  var poll = [
      {
        id: 'test',
        question: 'Bent U het eens met deze stelling',
        answers: [ 'Ja', 'Nee' ]
      },
      {
        id: 'sex',
        question: 'Ben je een man of vrouw?',
        answers: [ 'Man','Vrouw', 'Ik laat me niet indelen']
      },
      {
        id: 'code',
        question: 'Wie is je favoriete programmeur?',
        answers: [ 'Mark','Kirsten', 'Edward Snowden']
      }
  ];

%>
<div class="filler">
</div>
    <div class="poll">
      <!-- teken alle vragen -->
      <% poll.forEach(function(item){ %>
        <div class="title"><%= item.question %></div>
        <% item.answers.forEach(function(answer){ %>
          <button question="<%= item.id %>" value="<%= answer %>"><%= answer %></button>
        <% }) %>
      <% }) %>
      <hr/>
      <button class="result-button">Klaar</button>
    </div>
    <div class="result" style="display:none;">
      <h3><span question="responses" value="count"></span> resultaten:</h3>

      <!-- teken alle resultaten -->
      <% poll.forEach(function(item){ %>
        <div class="title"><%= item.question %></div>
        <ul>
        <% item.answers.forEach(function(answer){ %>
          <li><%= answer %>: <span question="<%= item.id %>" value="<%= answer %>"></span></li>
        <% }) %>
        </ul>
        <div id="<%= item.id %>-chart" class="chart"></div>
      <% }) %>
    </div>